{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>智能爬虫</title>
     <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
</head>
<style>
    body{margin: 0;padding: 0}
    a{text-decoration:none;}

</style>
<body>

123
    <div>
        {{ html }}
    </div>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'layer/layer.js' %}"></script>
</body>
</html>